* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 15px;
  color: #697073;
  background-color: #c7c7c7;
}

hr {
  border-top: 1px solid #c5c5c5;
}

#app {
  position: relative;
  top: 50px;
}

#content {
  flex: 1 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.panel {
  background-color: #f1f1f1;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.41);
}

.panel-default > .panel-heading {
  background-color: #f1f1f1;
}

.form-control {
  color: #272727;
  background-color: #f7f7f7;
}

.pagination {
  position: relative;
  left: 80px;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #828080;
  border-color: #828080;
}

.pagination > li > a, .pagination > li > span {
  color: #515556;
}

.panel-title{
  position: relative;
  top: 17px;
  left: 25px;
  font-size: 21px;
}