
.profile-user_name {
  position: relative;
  left: 220px;
  top: -170px;
  font-size: 30px;
}

.btn-edit {
  position: relative;
  left: 760px;
}

#avatar-img {
  width: 200px;
}

.contact-info {
  position: relative;
  top: -165px;
  left: 265px;
}

#profile-hr {
  border-top: 1px solid #c5c5c5;
  position: relative;
  top: -100px;
}

.user-status {
  position: relative;
  top: -120px;
  left: 350px;
}

.write-message {
  position: relative;
  top: -120px;
  left: 153px;
}

.user-info {
  position: relative;
  top: -105px;
  width: 100%;
  height: 114px;
}

.panel-body{

}