p {
  position: relative;
}

#hr-line {
  margin: 0;
  position: relative;
  width: 905px;
  left: 4px;
  border-color: #00000014;
}

.user-name {
  left: 116px;
  top: -85px;
  font-size: 20px;
}

.user-email {
  left: 116px;
  top: -94px;
}

.write-message_btn {
  position: relative;
  left: 767px;
  top: -140px;
}

.user-block {
  height: 115px;
}

.user-block:hover{
  background-color: #cacaca75;
  border-radius: 5px;
}

.user-avatar {
  position: relative;
  width: 100px;
  top: 7px;
}

.dropdown-toggle {
  position: relative;
  left: 90%;
  top: -12px;
}

.dropdown-menu {
  left: 90%;
}

.user-list_link {
  text-decoration: none;
  color: #484848;
}

.user-list_link:hover {
  text-decoration: none;
  color: #484848;
}
